<!-- src/main/resources/templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
  <div th:replace="fragments/header :: sidebar"></div>


  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 ml-10 mt-5">
    <div class="container">
        <div class="alert alert-warning mt-3 w-100" role="alert">
          <h4 class="alert-warning">Info regarding adding job</h4>
          <p>
            Some information you publish won't be seen to non-registered users, such as salary, etc.
          </p>
          <hr>
          <p class="mb-0">Make sure that all informations are correct.</p>
        </div>
      <div class="alert alert-info mt-3 w-100" role="alert">
        <h4 class="alert-info">Price for job listing</h4>
        <p>
          Due to inflation, we had to increase price for job listing from $1 to $6666.
        </p>
        <hr>
        <p class="mb-0">We're sorry for any frustration caused.</p>
      </div>
      <div class="jumbotron w-100 mt-5">
        <h1>Add a Job</h1>
        <form th:object="${job}" th:action="@{/add_job}" method="post" onsubmit="return validateForm()">
          <div class="form-group">
            <label for="jobName">Job name</label>
            <input type="text" class="form-control" id="jobName" name="jobName" placeholder="Enter job name">
            <div id="jobNameError" class="alert alert-danger mt-3" style="display: none;">
              Please enter job name.
            </div>
          </div>
          <div class="form-group">
            <label for="jobCategory">Job Category:</label>
            <select id="jobCategory" name="jobCategory" class="form-select w-100 p-1" required>
              <option selected>Select Job Category</option>
              <option value="Software Developer">Software Developer</option>
              <option value="Data Analyst">Data Analyst</option>
              <option value="Graphic Designer">Graphic Designer</option>
              <option value="Marketing Specialist">Marketing Specialist</option>
              <option value="Customer Support">Customer Support</option>
              <option value="Financial Analyst">Financial Analyst</option>
              <option value="Project Manager">Project Manager</option>
              <option value="Human Resources">Human Resources</option>
              <option value="Sales Executive">Sales Executive</option>
              <option value="Network Engineer">Network Engineer</option>
              <option value="Healthcare Professional">Healthcare Professional</option>
              <option value="Teacher">Teacher</option>
              <option value="Mechanical Engineer">Mechanical Engineer</option>
              <option value="Electrician">Electrician</option>
              <option value="Chef">Chef</option>
              <option value="Writer">Writer</option>
              <option value="Photographer">Photographer</option>
              <option value="Event Planner">Event Planner</option>
              <option value="Social Media Manager">Social Media Manager</option>
              <option value="Construction Worker">Construction Worker</option>
              <option value="Research Scientist">Research Scientist</option>
              <option value="Lawyer">Lawyer</option>
              <option value="Fitness Instructor">Fitness Instructor</option>
              <option value="Logistics Coordinator">Logistics Coordinator</option>
              <option value="Architect">Architect</option>
              <option value="Translator">Translator</option>
              <option value="Video Editor">Video Editor</option>
              <option value="Event Coordinator">Event Coordinator</option>
              <option value="Pharmacist">Pharmacist</option>
            </select>
            <div id="jobCategoryError" class="alert alert-danger mt-3" style="display: none;">
              Please add job company.
            </div>
          </div>
          <div class="form-group">
            <label for="jobDescription">Job description:</label>
            <textarea type="text" class="form-control" id="jobDescription" name="jobDescription" rows="5" placeholder="Enter job description"></textarea>
            <div id="jobDescriptionError" class="alert alert-danger mt-3" style="display: none;">
              Please enter job description.
            </div>
          </div>
          <div class="form-group">
            <label for="jobSalary">Job salary per month</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" id="jobSalary" name="jobSalary" placeholder="Enter job salary">
            </div>
            <div id="jobSalaryError" class="alert alert-danger mt-3" style="display: none;">
              Please enter job salary.
            </div>
          </div>
          <div class="form-group" th:if="${manager != null and manager.company != null and manager.company != ''}">
            <label for="jobCompany">Job Company:</label>
            <select id="jobCompany" name="jobCompany" class="form-select w-100 p-1" required>
              <option selected>Select Job Company</option>
              <option th:utext="${manager.company}" th:value="${manager.company}"></option>
            </select>
            <div id="jobCompanyError" class="alert alert-danger mt-3" style="display: none;">
              Please add job company.
            </div>
            <small id="infoMessage" class="form-text text-muted">
              To add more your companies to choose from, please <a href="upgrade">upgrade</a>.
            </small>
          </div>
          <div class="alert alert-warning mt-3 w-100" role="alert" th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')') and (manager.company == null or manager.company == '')}">

            <p>Please, add a Job Company from your <a href="profile">Profile page</a> first. Then you will be able to submit a form.</p>
          </div>
          <div class="form-group">
            <label for="jobArea">Job Area:</label>
            <select id="jobArea" name="jobArea" class="form-select w-100 p-1" required>
              <option selected disabled>Select Job Area</option>
              <option value="Okres Benesov">Okres Benesov</option>
              <option value="Okres Beroun">Okres Beroun</option>
              <option value="Okres Blansko">Okres Blansko</option>
              <option value="Okres Brno-mesto">Okres Brno-mesto</option>
              <option value="Okres Brno-venkov">Okres Brno-venkov</option>
              <option value="Okres Bruntal">Okres Bruntal</option>
              <option value="Okres Breclav">Okres Breclav</option>
              <option value="Okres Ceska Lipa">Okres Ceska Lipa</option>
              <option value="Okres Ceske Budejovice">Okres Ceske Budejovice</option>
              <option value="Okres Cesky Krumlov">Okres Cesky Krumlov</option>
              <option value="Okres Decin">Okres Decin</option>
              <option value="Okres Domazlice">Okres Domazlice</option>
              <option value="Okres Frydek-Mistek">Okres Frydek-Mistek</option>
              <option value="Okres Havlickuv Brod">Okres Havlickuv Brod</option>
              <option value="Okres Hodonin">Okres Hodonin</option>
              <option value="Okres Hradec Kralove">Okres Hradec Kralove</option>
              <option value="Okres Cheb">Okres Cheb</option>
              <option value="Okres Chomutov">Okres Chomutov</option>
              <option value="Okres Chrudim">Okres Chrudim</option>
              <option value="Okres Jablonec nad Nisou">Okres Jablonec nad Nisou</option>
              <option value="Okres Jesenik">Okres Jesenik</option>
              <option value="Okres Jicin">Okres Jicin</option>
              <option value="Okres Jihlava">Okres Jihlava</option>
              <option value="Okres Jindrichuv Hradec">Okres Jindrichuv Hradec</option>
              <option value="Okres Karlovy Vary">Okres Karlovy Vary</option>
              <option value="Okres Karvina">Okres Karvina</option>
              <option value="Okres Kladno">Okres Kladno</option>
              <option value="Okres Klatovy">Okres Klatovy</option>
              <option value="Okres Kolin">Okres Kolin</option>
              <option value="Okres Kromeriz">Okres Kromeriz</option>
              <option value="Okres Kutna Hora">Okres Kutna Hora</option>
              <option value="Okres Liberec">Okres Liberec</option>
              <option value="Okres Litomerice">Okres Litomerice</option>
              <option value="Okres Louny">Okres Louny</option>
              <option value="Okres Melnik">Okres Melnik</option>
              <option value="Okres Mlada Boleslav">Okres Mlada Boleslav</option>
              <option value="Okres Most">Okres Most</option>
              <option value="Okres Nachod">Okres Nachod</option>
              <option value="Okres Novy Jicin">Okres Novy Jicin</option>
              <option value="Okres Nymburk">Okres Nymburk</option>
              <option value="Okres Olomouc">Okres Olomouc</option>
              <option value="Okres Opava">Okres Opava</option>
              <option value="Okres Ostrava-mesto">Okres Ostrava-mesto</option>
              <option value="Okres Pardubice">Okres Pardubice</option>
              <option value="Okres Pelhrimov">Okres Pelhrimov</option>
              <option value="Okres Pisek">Okres Pisek</option>
              <option value="Okres Plzen-jih">Okres Plzen-jih</option>
              <option value="Okres Plzen-mesto">Okres Plzen-mesto</option>
              <option value="Okres Plzen-sever">Okres Plzen-sever</option>
              <option value="Okres Praha-vychod">Okres Praha-vychod</option>
              <option value="Okres Praha-zapad">Okres Praha-zapad</option>
              <option value="Okres Prachatice">Okres Prachatice</option>
              <option value="Okres Prostejov">Okres Prostejov</option>
              <option value="Okres Prerov">Okres Prerov</option>
              <option value="Okres Pribram">Okres Pribram</option>
              <option value="Okres Rakovnik">Okres Rakovnik</option>
              <option value="Okres Rokycany">Okres Rokycany</option>
              <option value="Okres Rychnov nad Kneznou">Okres Rychnov nad Kneznou</option>
              <option value="Okres Semily">Okres Semily</option>
              <option value="Okres Sokolov">Okres Sokolov</option>
              <option value="Okres Strakonice">Okres Strakonice</option>
              <option value="Okres Svitavy">Okres Svitavy</option>
              <option value="Okres Sumperk">Okres Sumperk</option>
              <option value="Okres Tabor">Okres Tabor</option>
              <option value="Okres Tachov">Okres Tachov</option>
              <option value="Okres Teplice">Okres Teplice</option>
              <option value="Okres Trutnov">Okres Trutnov</option>
              <option value="Okres Trebic">Okres Trebic</option>
              <option value="Okres Uherske Hradiste">Okres Uherske Hradiste</option>
              <option value="Okres Usti nad Labem">Okres Usti nad Labem</option>
              <option value="Okres Usti nad Orlici">Okres Usti nad Orlici</option>
              <option value="Okres Vsetin">Okres Vsetin</option>
              <option value="Okres Vyskov">Okres Vyskov</option>
              <option value="Okres Zlin">Okres Zlin</option>
              <option value="Okres Znojmo">Okres Znojmo</option>
              <option value="Okres Zdar nad Sazavou">Okres Zdar nad Sazavou</option>
            </select>
              <div id="jobAreaError" class="alert alert-danger mt-3" style="display: none;">
                Please add job area.
              </div>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I agree with <a href="terms">terms and conditions</a></label>

          </div>
          <div id="termsError" class="alert alert-danger mt-3" style="display: none;">
            Please agree with terms and conditions.
          </div>
          <button type="submit" class="btn btn-primary" th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')') and manager.company != null and manager.company != ''}">Submit</button>
        </form>
      </div>
    </div>
  </main>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function validateForm() {
    var selectedJobArea = document.getElementById('jobArea').value;
    var jobAreaError = document.getElementById('jobAreaError');

    var jobSalary = document.getElementById('jobSalary').value;
    var jobSalaryError = document.getElementById('jobSalaryError');

    var selectedJobCompany = document.getElementById('jobCompany').value;
    var jobCompanyError = document.getElementById('jobCompanyError');

    var selectedJobCategory = document.getElementById('jobCategory').value;
    var jobCategoryError = document.getElementById('jobCategoryError');

    var jobName = document.getElementById('jobName').value;
    var jobNameError = document.getElementById('jobNameError');

    var jobDescription = document.getElementById('jobDescription').value;
    var jobDescriptionError = document.getElementById('jobDescriptionError');

    var agreeTermsCheckbox = document.getElementById('exampleCheck1');
    var termsError = document.getElementById('termsError');

    var errors = 0;  // Initialize error count

    // Check job area
    if (selectedJobArea === 'Select Job Area') {
      jobAreaError.style.display = 'block';
      errors++;
    } else {
      jobAreaError.style.display = 'none';
    }

    // Add other form field validations here
    // For example, check job company


    // Check job company
    if (selectedJobCompany === 'Select Job Company') {
      jobCompanyError.style.display = 'block';
      errors++;
    } else {
      jobCompanyError.style.display = 'none';
    }

        // Check job categ
    if (selectedJobCategory === 'Select Job Category') {
      jobCategoryError.style.display = 'block';
      errors++;
    } else {
      jobCategoryError.style.display = 'none';
    }

    if (jobName === '') {
      jobNameError.style.display = 'block';
      errors++;
    } else {
      jobNameError.style.display = 'none';
    }

    if (jobDescription === '') {
      jobDescriptionError.style.display = 'block';
      errors++;
    } else {
      jobDescriptionError.style.display = 'none';
    }

    // Check job salary
    if (jobSalary.trim() === '') {
      jobSalaryError.style.display = 'block';
      errors++;
    } else {
      jobSalaryError.style.display = 'none';
    }

    if (!agreeTermsCheckbox.checked) {
      termsError.style.display = 'block';
      errors++;
    } else {
      termsError.style.display = 'none';
    }

    // Return true only if there are no errors
    return errors === 0;
  }
</script>
</body>
</html>
