<!-- src/main/resources/templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
        <div th:replace="fragments/header :: sidebar"></div>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 ml-10">
            <div class="jumbotron">
            <div th:if="${param.jobPostSuccess}">
                <div class="alert alert-success">
                    <span th:text="#{jobPost.success}"></span>
                </div>
            </div>
            </div>
        </main>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
