<!-- src/main/resources/templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<!-- Your HTML content -->

<!-- Bootstrap Success Dialog -->


<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
  <div th:replace="fragments/header :: sidebar"></div>


  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 ml-10">

    <div class="container">
      <div class="jumbotron w-100 mt-5">
        <div id="alertContainer" style="display: none;"></div>
        <table class="table">
          <thead>
          <tr>
            <th>Job Category</th>
            <th>Job Company</th>
            <th>Job Description</th>
            <th>Job Name</th>
            <th>Job Salary</th>
            <th>Job Area</th>
            <th>Has replies?</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <!-- Iterate over the list of jobs -->
          <tr th:each="job, iterStat : ${jobs}" th:class="${iterStat.odd ? 'odd-row' : 'even-row'}" th:attr="onclick=|navigateToJobDetails('${job.id}')|" style="cursor: pointer;">
            <td th:text="${job.jobCategory}"></td>
            <td th:text="${job.jobCompany}"></td>
            <td th:text="${job.jobDescription}"></td>
            <td th:text="${job.jobName}"></td>
            <td th:text="${job.jobSalary}"></td>
            <td th:text="${job.jobArea}"></td>
            <td th:text="${#lists.size(job.replyList)}"></td>
            <td>
              <a href="#" th:attr="data-jobid=${job.id}" onclick="deleteJob(this.getAttribute('data-jobid')); return false;">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">
    function navigateToJobDetails(jobId) {
        window.location.href = '/jobs/' + jobId;
    }
</script>

<script th:inline="javascript">
    function deleteJob(jobId) {
        if (confirm('Are you sure you want to delete this job?')) {
            // Use AJAX to send a DELETE request
            var xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/jobs/' + jobId, true);
            xhr.onload = function() {
                // Handle the response, e.g., refresh the page
                if (xhr.status === 200) {
                    window.location.href = '/my_jobs?deleteSuccess=true';
                } else {
                    window.location.href = '/my_jobs?deleteSuccess=false';
                }
            };
            xhr.send();
        }
    }

    function getQueryParam(name) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        function displayMessage() {
            var deleteSuccess = getQueryParam('deleteSuccess');
            if (deleteSuccess === 'true') {
                // Update alert content with success message
                updateAlert('Success', 'Job deleted successfully!', 'alert-success');
            } else if (deleteSuccess === 'false') {
                // Update alert content with warning message
                updateAlert('Error', 'Job was not deleted', 'alert-danger');
            }
        }
        // Function to update the alert content
        function updateAlert(type, message, alertClass) {
            var alertContainer = document.getElementById('alertContainer');
            alertContainer.innerHTML = '<div class="alert ' + alertClass + ' alert-dismissible fade show" role="alert">' +
                '<h4 class="alert-heading">' + type + '</h4>' +
                '<p>' + message + '</p>' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span>' +
                '</button>' +
                '</div>';
            // Show the alert container
            alertContainer.style.display = 'block';
        }

        // Call displayMessage on page load
        displayMessage();
</script>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
