body, html {
            height: 100%;
            margin: 0;
        }

        .container-fluid {
            height: 100%;
            display: flex;
            padding-left: 0;
        }

        .sidebar {
            height: 100%;
            position: fixed;
            background-color: #343a40; /* Bootstrap dark color */
            padding-top: 20px;
        }

        .sidebar a {
            padding: 16px 16px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #007bff; /* Bootstrap primary color */
        }

        .main-content {
            flex: 1;
            padding: 20px;
            background-color: #f8f9fa; /* Bootstrap light color */
        }

        /* CSS style for odd rows */
        tr.odd-row {
            background-color: #f2f2f2; /* Light gray */
            transition: background-color 0.3s; /* Smooth transition on hover */
        }

        tr.odd-row:hover {
            background-color: #d8d8d8; /* Slightly darker gray on hover */
        }

        /* CSS style for even rows */
        tr.even-row {
            background-color: #e6e6e6; /* Lighter gray */
            transition: background-color 0.3s; /* Smooth transition on hover */
        }

        tr.even-row:hover {
            background-color: #cccccc; /* Slightly darker gray on hover */
        }

